@import '/src/base';

.content {
  &__capa {
    background: no-repeat center;
    background-size: cover;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid $vermelho-opaco;
    border-radius: 10px;
}
  &__info {
    background-color: $cinza-escuro;
    opacity: 0.6;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px){
  .content {
    &__capa {
      width: 200px;
      height: 350px;
  }
}
}
