* {
  background: #1D1E22;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  transition: all ease-in-out 0.5s; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container__buscar {
    border: none;
    border-radius: 50px;
    align-self: flex-end;
    background: #18191C;
    width: 20%;
    height: auto;
    margin: 2%;
    padding: 2%; }
  .container__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5%; }
    .container__content__card {
      padding: 5%;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container__content__card h3 {
        text-align: center; }
      .container__content__card img {
        border-radius: 20px;
        transition: all ease-in-out 0.5s;
        width: 15rem;
        height: auto; }
      .container__content__card img:hover {
        width: 15.5rem; }
      .container__content__card p {
        overflow-y: hidden;
        width: 80%;
        transition: all ease-in-out 0.5s; }
      .container__content__card p:hover {
        overflow-y: scroll;
        width: 90%; }
      .container__content__card__mais {
        color: blue; }
      .container__content__card__mais:hover {
        text-decoration: underline; }
  .container__button {
    text-align: center;
    border: none;
    border-radius: 50px;
    background: #FF0000;
    opacity: 75%;
    width: 30%;
    padding: 1%;
    font-size: 1.2rem;
    height: auto;
    cursor: pointer; }
