app-button {
  width: 5px;
  height: 5rem;
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1024px){
  app-footer {
    visibility: hidden;
    display: none;
  }
}
