* {
  color: #fff;
}


.content {
  overflow: hidden;

  &__filters {
    display: flex;
    width: 100%;
    max-width: 100vw;
    align-items: center;
    padding: 5% 0;

    app-filter {
      width: 100%;
      text-align: -webkit-center;
    }
  }

  &__carrossel {

    &--conteudo {
      display: flex;
      max-height: 25vh;
      overflow-x: scroll;
      width: max-content;

      app-card-conteudo {
        margin: 0 0 0 2%;
        border-radius: 10px;
        width: 60vw;
        height: 25vh;
        overflow: hidden;
      }
    }
  }

  &__release {
    margin: 10vw 0;
    padding: 0;
    &--conteudo {
      display: flex;
      max-height: 20vh;
      overflow-x: visible;
      width: max-content;

      app-card-conteudo {
        margin: 0 0 0 2%;
        border-radius: 10px;
        width: 30vw;
        height: 20vh;
        overflow: hidden;
      }
    }
  }

  app-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 5% auto;
  }
}
