@import '/src/base';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  &__profile{
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
  }

  &__imagem {
    border-radius: 50%;
    border: solid 2px $branco-opaco;
    margin: 1rem;
  }
}
