@import '/src/base';

//Varibles
$vermelho-opaco: hsla(0, 100%, 50%, 0.749);
$branco: #ffffff;
$branco-opaco: #ffffffbf;
$cinza-claro: hsl(228, 8%, 12%);
$cinza-escuro: hsl(225, 8%, 10%);

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__boxlogin{
    position: flexbox;
    margin: 0 auto;
    margin-top: 15vh;
  }

  &__login{
    width: 500px;
    height: 500px;
    background: $cinza-claro;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
      color: $vermelho-opaco;
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }

    input {
      // margin: 0.5rem 0;
      // padding: 0.5rem;
      color: $branco;
      background: inherit;
      margin: 1rem auto;
      border-radius: 10px;
      padding: 10px 10px;
    }

    app-button {
      display: inline-block;
      margin: 0 1rem;
    }

    &__iteracoes {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__link {
        text-align: right;
        display: inline-block;
        color: $branco;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 500px){
  .content{
    margin: 0 auto;

    &__boxlogin{
      position: flex;

    }

    &__login{
      width: 100%;
      height: 100%;
      margin: auto;
      background: none;
    }
  }
}
