<div class="content">
  <div class="content__boxlogin">
  <div class="content__login">
    <h2 class="content__title">
      MetroFlix
    </h2>
    <form
      action=""
      method="post"
      class="content__input"
      [formGroup]="forms"
      (ngSubmit)="efetuarLogin()"
    >
      <label>E-mail</label>
      <input
        type="email"
        name=""
        formControlName="email"
        class="content__input__email"
        placeholder="Digite seu E-mail"
      >
      <label>Senha</label>
      <input
        type="password"
        name=""
        formControlName="senha"
        class="content__input__senha"
        placeholder="Digite sua Senha"
      >
    </form>

    <div class="content_recovery">
      <a
      class="content__iteracoes__link"
      (click)="recuperarSenha()"
    >
      Esqueceu senha ?
    </a>
    </div>

    <div class="content__iteracoes">


      <app-button
        class="content__iteracoes__entrar"
        [isBackgroundRed]="true"
        (click)="efetuarLogin()"
        aria-label="Entrar"
      >
      </app-button>
      <app-button
        class="content__iteracoes__entrar"
        [isBackgroundRed]="false"
        aria-label="Cadastrar"
        [textoInterno]="'Cadastrar'"
        (click)="cadastrar()"
      >
      </app-button>
    </div>
  </div>
  </div>
</div>
