@import '/src/base';
@import '/src/app/modulos/shared/footer/footer.component.scss';
@import '/src/app/modulos/shared/button/button.component.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: $cinza-escuro;
  color: $branco;
  font-family: 'Oswald', sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
