.content {
  width: 90%;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  background: var(--cinza-escuro);
  padding: 5%;

  &__perfil {
    width: 30px;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50px;
  }

  &__perfil:active {
    border: 1px solid var(--vermelho-opaco);
  }
}
