@import '/src/base';

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  &__logo {
    color: $vermelho-opaco;
  }
}
